useDynLib(scran, .registration=TRUE, .fixes="cxx_")

export(
    DM, testVar, combineVar,
    correlateNull,
    selectorPlot
)

exportMethods(
    quickCluster, buildSNNGraph,
    computeSumFactors, computeSpikeFactors, normalize,
    trendVar, decomposeVar, technicalCV2, improvedCV2,
    sandbag, cyclone,
    correlatePairs,
    denoisePCA,
    findMarkers,
    "isSpike<-", 
    convertTo
)

importFrom("dynamicTreeCut", cutreeDynamic)
importFrom("Matrix", sparseMatrix, qr, qr.coef, qr.qty)
importFrom("zoo", zoo, rollapply, index)

importFrom("edgeR", DGEList, "[.DGEList", designAsFactor, scaleOffset.DGEList)
importFrom("limma", fitFDistRobustly, lmFit, eBayes, contrasts.fit, topTable)
importFrom("statmod", glmgam.fit)

importFrom("BiocGenerics", normalize)
importFrom("Biobase", assayDataElement, "assayDataElement<-", fData, exprs, featureData, phenoData, pData)

importFrom("utils", combn)
importFrom("stats", approx, as.dist, cor, fitted, hclust, loess, median, p.adjust, pchisq, pf, 
           predict, quantile, coefficients, nls, nls.control, lm, pnorm, coef, var, prcomp, model.matrix)
importFrom("grDevices", grey.colors)
importFrom("graphics", text)

importFrom("splines", ns)
importFrom("MASS", rlm)

importFrom("FNN", get.knn)
importFrom("igraph", make_graph, simplify, E, "E<-", cluster_fast_greedy)

importFrom("shiny", actionButton, brushOpts, brushedPoints, column, fluidPage, fluidRow, observeEvent, 
           plotOutput, renderPlot, shinyApp, stopApp, runApp, hr)

import(BiocParallel)
import(scater)
import(methods)
